@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0; 
    padding:0;  
}
.header-control{
   background-color: #3b5998;
   
   height: 10px;


}
.control-align{ 
    
    position: absolute ;
    top: 0%;
    left: 30% ;
    height: 10%;

    
}
.img-control {
     margin-top: 0%;
     height: 10%;
     width: 100px;

}


body
{
     background-color:whitesmoke;
     font-family: 'Roboto', sans-serif;
}

     .container{
     position: absolute;
     top:25%;
     left: 25%;
     font-size:18px;
 }

 .container h1{
     color: #365998;
     
 }
  .container{
      position: absolute;
      top:20%;
      left:11%;
  }

  header
  {
      width: 50%;
      height: 20px;
      position: absolute;
      top: 35%;
      left: 65%;
      background-color:whitesmoke;
  }
  .box input{
      margin: 10px;
      padding: 13px 20px;
      width: 40%;
      border-radius: 23px;
    
      
  }
   .link{
       width:40%;
       background:blue;
       text-align: center;
       margin-top: 5%;
       margin-left: 03%;
       padding: 11px;
       border-radius: 23px;
       
   }
  .link a{               
    color: white;
    text-decoration: none;
    font-size: 20px;
    
  }

  .link1 {
      
      margin-top: 5%;
      margin-inline-end: 5%;
      margin-left:13%;



  }

.linka {
    text-decoration: none;
    color: #2cb3f2;
    font-size: 15px;

}
  .link2 {
      width: 40%;
      text-align: center;
      margin-top: 5%;
      margin-left: 03%;
      background-color: green;
      padding: 11px;
      border-radius: 23px;
  }
    .link2 a{
        text-decoration: none;
        color: white;
    }

    .h1{
        position: absolute;
        top: 0%;
        left: 25%; 
        font-size: 70px;  
    }

    .pq{
     
      margin-top: 8% ; 
      margin-left: 25%; 
      border-radius:45%;
    }
    .mn{
      font-size: larger;
    }
    
    .kl{
        width:40%;
       background:blue;
       text-align: center;
       margin-top: 5%;
       margin-left: 02%;
       padding: 5px;
       border-radius: 2px;
       width:5% ;
       height: 5;
    }

    

    


